@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-100 dark:bg-blue-100 text-gray-900 dark:text-gray-900 font-sans;
  }
}

.card {
  @apply bg-black dark:bg-gray-100 shadow-md rounded-lg p-6;
}

/*  Global gradient background for entire app */

.app-background {
 background: linear-gradient(135deg,
  rgba(245, 248, 255, 1) 0%,     /* white-blue */
  rgba(225, 230, 255, 0.95) 30%, /* pale blue-lilac */
  rgba(210, 215, 255, 0.92) 60%, /* misty lavender */
  rgba(210, 180, 255, 0.95) 100% /* purple glow */
);




  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #1e1e2f;
  overflow-x: hidden;
  position: relative;
}
